.idea
.ipynb_checkpoints
.pytest_cache

advertisement_classifier.egg-info
data/logs/
data/train.csv
env

lib/.ipynb_checkpoints
lib/checkpoints/
lib/notebooks
lib/tmp.ipynb

tests/unit_test
changes.txt

*.pyc